header a {
  text-decoration: none;
  color: white;
}

.headerblue {
  background-color: #0282f9;
}

li {
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

li a:hover {
  border-bottom: 2px solid #0282f9;
}

.my-container {
  color: white;
  max-width: 960px;
  margin: auto;
}

.my-container .position-absolute {
  left: 0;
  bottom: -20px;
}

.my-container .myrow {
  border-top: 1px solid black;
}

.my-container h2 {
  color: #003f5e;
}

.my-container .green-bg {
  background-color: #55ba59;
}

.my-container .green-bg a {
  color: white;
  text-decoration: none;
}

.my-container .green-bg span {
  color: #bafd9c;
}

.my-container .my-button {
  bottom: 5%;
  left: 5%;
}

.my-container .my-button a {
  background-color: #ffe665;
  color: black;
  bottom: 0;
}

.my-container .float-text {
  top: 30%;
  left: 5%;
}

.my-container .greyer {
  background-color: #f6f6f6;
}

.jumbo {
  height: 500px;
  overflow: hidden;
}

.jumbo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.myBanner {
  background-color: #1c1c1c;
  color: white;
}

.myBanner img {
  width: 100%;
}

.current-series {
  background-color: #0282f9;
  position: absolute;
  top: 0;
  transform: translate(-5%, -50%);
  padding: 0.6rem 2rem;
}

.current-series h3 {
  margin: 0;
}

.relative {
  position: relative;
}

.logoContainer {
  color: white;
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logoContainer li span {
  color: #959595;
}

.logoContainer .strange-image {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logoContainer .strange-image img {
  height: 115%;
}

.mycard {
  text-align: left;
}

